option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_NAME
    value: "Social"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_ENV
    value: production
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_KEY
    value: base64:btu1SObewd/aGnYvuldU9bFXnfSx7PCrbmPzOzhWc00=
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_DEBUG
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_URL
    value: http://socialapp-env.eba-icmuizjt.us-east-2.elasticbeanstalk.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOG_CHANNEL
    value: stack
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOG_DEPRECATIONS_CHANNEL
    value: null
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOG_LEVEL
    value: debug
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SESSION_DOMAIN
    value: http://socialapp-env.eba-icmuizjt.us-east-2.elasticbeanstalk.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SANCTUM_STATEFUL_DOMAINS
    value: http://socialapp-env.eba-icmuizjt.us-east-2.elasticbeanstalk.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_CONNECTION
    value: mysql
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_HOST
    value: awseb-e-miawz8kcbk-stack-awsebrdsdatabase-toosjspt6f6r.cfugnt9mmkgw.us-east-2.rds.amazonaws.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_PORT
    value: 3306
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_DATABASE
    value: ebdb
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_USERNAME
    value: social
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_PASSWORD
    value: bebCi0-sihqus-zeftum
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: BROADCAST_DRIVER
    value: log
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: CACHE_DRIVER
    value: file
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: FILESYSTEM_DISK
    value: local
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: QUEUE_CONNECTION
    value: sync
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SESSION_DRIVER
    value: cookie
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SESSION_LIFETIME
    value: 120
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MEMCACHED_HOST
    value: 127.0.0.1
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: REDIS_HOST
    value: 127.0.0.1
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: REDIS_PASSWORD
    value: null
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: REDIS_PORT
    value: 6379
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MAIL_MAILER
    value: smtp
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MAIL_HOST
    value: mailhog
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MAIL_PORT
    value: 1025
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MAIL_USERNAME
    value: null
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MAIL_PASSWORD
    value: null
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MAIL_ENCRYPTION
    value: null
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MAIL_FROM_ADDRESS
    value: "hello@example.com"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MAIL_FROM_NAME
    value: "Social"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_ACCESS_KEY_ID
    value:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_SECRET_ACCESS_KEY
    value:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_DEFAULT_REGION
    value:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_BUCKET
    value:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_USE_PATH_STYLE_ENDPOINT
    value:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PUSHER_APP_ID
    value:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PUSHER_APP_KEY
    value:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PUSHER_APP_SECRET
    value:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PUSHER_HOST
    value:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PUSHER_PORT
    value: 443
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PUSHER_SCHEME
    value: https
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PUSHER_APP_CLUSTER
    value: mt1